{{ define "menu" }}
<ul class="menu">
<li><a href="/">Home</a></li>
<li><a href="/submit">Submit Certificate</a></li>
<li><a href="/check">Check Certificate</a></li>
<li><a href="/proof">Show Proof</a></li>
</ul><br/>
{{ end }}